* {
  list-style: none;
  text-decoration: none !important;
}

.gradient-custom {
  background: #f6d365;
  background: -webkit-linear-gradient(to right bottom, #abc4ff, #ccdbfd);
  background: linear-gradient(to right bottom, #ccdbfd, #abc4ff);
}

.card-header {
  background: linear-gradient(to right bottom, #ccdbfd, #abc4ff);
}

.navbar {
  background-color: #abc4ff;
}

.nav-item .nav-link {
  color: #000000 !important;
  font-weight: 700;
}

.wrap-nav {
  display: flex;
  align-items: center;
}

.btn {
  text-transform: none !important;
}

.btn-primary {
  background-color: #809bce !important;
  border-color: #809bce !important;
}

.btn-dark {
  background-color: #809bce !important;
  border-color: #809bce !important;
}

.h3 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold !important;
}

.wrap {
  display: flex;
  align-items: center;
}

.wrap a {
  font-weight: 600;
}

.detail a {
  color: #fff;
}

.edit a {
  color: #fff;
}

.wrap-foto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.img-fluid {
  width: 200px;
}

.breadcrumb-item a {
  color: #abc4ff;
}
